body {
    font-family: 'Verdana', 'Verdana', 'sans-serif';
    align-items: center;
    width: 75%;
    margin: auto;

}

h1 {
    text-align: center;
}

#examples {
    text-align: center;
}

#ex1 {
    color: blue;
}

#ex2 {
    color: purple;
}

#ex3 {
    color: green;
}

#ex4 {
    color: red;
}

p {
    text-align: justify;
}

.anchorContainer {
    text-align: center;
}

a {
    background: rgb(0, 170, 255);
    color: white;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
}